* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 
 body {
	font-family: Inter ,sans-serif;
 }
 
 .logo, .menu, .button, .menu-item {
	display: inline-block;
 }
 
 .logo, .button {
	width: 14%;
 }

 .menu {
	width: 70%;
	text-align: center;
 }
 
 .header {
	padding: 37px 120px 35px;
 }
 
 .button {
	background: #0E1734;
	border: none;
	padding: 14px 15px;
	color: white;
	border-radius: 4px;
	font-family: inherit;
	font-size: 16px;
	line-height: 19px;
 }
 
 .logo {
	font-family: Montserrat, sans-serif;
	font-size: 32px;
 }
 
 .menu-item {
	margin: 0;
	margin-right: 32px;
 }
 
 .menu-item:last-child {
	margin-right: 0;
 }

 .intro, .intro__text, .intro__img  {
	 display: inline-block;
	 vertical-align: top;
 }

 .intro__img {	
	margin-left: 160px;
 }

.intro {
	padding: 80px 120px 96px;
}

.intro__text > h1  {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
	padding-bottom: 24px;
	margin-top: 208px;
}

.intro__text > p {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #848FAC;
	padding-bottom: 32px;
}

.intro__text > button {
	width: 156px;
	padding: 16px 32px;
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}